<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1,minimal-ui" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic|Material+Icons">
    <link rel="stylesheet" href="https://unpkg.com/vue-material@0.8.1/dist/vue-material.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.2.0/dist/leaflet.css">
    <link rel="stylesheet" href="css/advocated.css">
  </head>

  <body>
    <div id="app" v-cloak>
      <!-- Your code here -->
      <md-toolbar class="md-primary">
        <h2 class="md-title" style="flex: 1;">/advocated</h2>
        
        <md-button class="md-icon-button" v-if="spinning">
          <md-spinner md-indeterminate class="md-accent"></md-spinner>
        </md-button>
        
        <h4 v-if="cookie && userid">{{ userDisplayName }}</h4>

        <md-button v-if="cookie && userid" v-on:click="logout">Logout</md-button>
        
      </md-toolbar>

      <div class="main-content">
        <md-snackbar md-position="top center" ref="snackbar" md-duration="4000">
          <span>{{ msg }}</span>
          <md-button class="md-accent" @click="$refs.snackbar.close()">Close</md-button>
        </md-snackbar>
        <div v-if="err"> {{ err }} </div>

        <md-tabs @change="onChangeTab">

          <md-tab id="tab-home" md-label="Home" :md-active="selectedTab===0">
            <md-card>
              <md-card-media>
                <img src="img/header.jpg" alt="presentation" credit="https://www.flickr.com/photos/gustavthree/4357263157/in/photolist-7D37wR-UoXktx-JouTz-2QqP2E-bj4gFg-rP5f-bj4aPX-bj4cek-49kfUy-52Quva-4yseR7-557PzY-jksp9-8xWLVc-52Qxx6-7QJaPh-cac8Mu-bZzJbG-avgWf7-rMX21F-8UhTMY-4yEPDN-5vGLy-dFEWMj-bj4kV8-nCxryA-6owKC3-eeR2qo-e8q9dZ-bZzGsJ-bj4fUB-mMzwwt-rxREMK-rQj7SP-rQecC6-2ogN-rxRCE8-sbP3yW-bD6QQy-4zt9gs-5YpzDi-hQYGN-7EdoAN-hPcGAT-5a1Pbi-bZzKxS-jMniJp-7E9xFz-no6Vw6-54Fttf">
              </md-card-media>
            
              <md-card-header>
                <div class="md-title">/advocated</div>
                <div class="md-subhead">Attend, Present, Blog</div>
              </md-card-header>
    
              <md-card-content>
                Record your developer advocacy activity with this tool. Every time your attend a conference or meetup, speak or present, publish a
                blog post, talk to the press or spend some of our budget, record that activity here.
                <h3>How do I log in?</h3>
                Ask Glynn for a URL, then bookmark this page for future reference.
                You can enter as many /advocated entries as you like. They will be recorded in a Cloudant database
                and analysed later using DSX notebooks.
              </md-card-content>
    
            </md-card>
          </md-tab>

          <md-tab v-if="cookie" id="tab-recent" md-label="Recent" :md-active="selectedTab===1">
            <div v-if="cookie && recent.length == 0">
              You have no recent /advocated entries
            </div>
            <div v-if="cookie && recent.length > 0">
                <h3 >Recent entries</h3>
                <md-table>
                  <md-table-header>
                    <md-table-row>
                      <md-table-head>Date</md-table-head>
                      <md-table-head>Type</md-table-head>
                      <md-table-head>Title</md-table-head>
                    </md-table-row>
                  </md-table-header>
                
                  <md-table-body>
                    <md-table-row v-for="r in recent" :key="r._id">
                      <md-table-cell>{{ r.dtstart }}</md-table-cell>
                      <md-table-cell>{{ r.collection }}</md-table-cell>
                      <md-table-cell>{{ r.title }}</md-table-cell>
                      <md-table-cell><a href="#" v-on:click="onSelect(r._id)"><md-icon>mode_edit</md-icon></a></md-table-cell>
                    </md-table-row>
                  </md-table-body>
                </md-table>
              </div>
          </md-tab>

          <md-tab v-if="cookie" id="tab-attended" md-label="Attended" :md-active="selectedTab===2">
            <div>
              <h2>I attended an Event <a v-if="attended._id && attended._rev" href="#" v-on:click="onDelete(attended._id, attended._rev)"><md-icon>delete</md-icon></a></h2>
              <form novalidate>
                <input type="hidden" name="collection" v-model="attended.collection" value="event" />
                <input type="hidden" name="_id" v-model="attended._id" />
                <input type="hidden" name="_rev" v-model="attended._rev" />
       
                <md-input-container>
                  <label for="title">Title</label>
                  <md-input name="title" id="attended-title" v-model="attended.title" placeholder="Event Title" required />
                </md-input-container>
                
                <md-input-container>
                  <label for="dtstart">Date Start</label>
                  <md-input name="dtstart" type="date" id="attended-dtstart" v-model="attended.dtstart" required />
                </md-input-container>

                <md-input-container>
                  <label for="dtend">Date End</label>
                  <md-input name="dtend" type="date" id="attended-dtend" v-model="attended.dtend" required />
                </md-input-container>

                <md-input-container>
                  <label for="description">Description</label>
                  <md-textarea name="description" id="attended-description" v-model="attended.description" />
                </md-input-container>

                <md-input-container>
                  <label for="attendees">Attendees</label>
                  <md-textarea name="attendees" type="number" id="attended-attendees" v-model.number="attended.attendees" required />
                </md-input-container>                

                <div>
                  <md-checkbox v-model="attended.conference">Conference</md-checkbox>
                  <md-checkbox v-model="attended.meetup">Meetup</md-checkbox>
                  <md-checkbox v-model="attended.hackathon">Hackthon</md-checkbox>
                  <md-checkbox v-model="attended.sponsored">Sponsored</md-checkbox>
                </div>

                <md-input-container>
                  <label for="tags">Tags</label>
                  <md-textarea name="tags" id="attended-tags" v-model="attended.tags" />
                </md-input-container>
                
                <md-input-container>
                  <label for="comments">Comments</label>
                  <md-textarea name="comments" id="attended-comments" v-model="attended.comments" />
                </md-input-container>
                  
                <md-input-container>
                  <label for="latitude">Latitude</label>
                  <md-input name="latitude" type="number" id="attended-latitude" v-model.number="attended.latitude" min="-90" max="90" @change="drawPin" required />
                </md-input-container>

                <md-input-container>
                  <label for="longitude">Longitude</label>
                  <md-input name="longitude" type="number" id="attended-longitude" v-model.number="attended.longitude" min="-180" max="180" @change="drawPin" required />
                </md-input-container>
                
                <div>
                  <a href="#" v-on:click="locate"><md-icon class="md-primary">my_location</md-icon></a>
                </div>

                <div id="mapid"></div>

                <div>
                  <md-button type="button" class="md-primary" :disabled="!attendedReady" v-on:click="submitForm(attended)">Submit</md-button>
                </div>

              </form>
            </div>
          </md-tab> <!-- attended -->


          <md-tab v-if="cookie" id="tab-presented" md-label="Presented" :md-active="selectedTab===3">
            <div>
              <h2>I presented at an Event <a v-if="presented._id && presented._rev" href="#" v-on:click="onDelete(presented._id, presented._rev)"><md-icon>delete</md-icon></a></h2>
              <form novalidate>

                <input type="hidden" name="collection" v-model="presented.collection" value="session" />
                <input type="hidden" name="_id" v-model="presented._id" />
                <input type="hidden" name="_rev" v-model="presented._rev" />

                <md-input-container>
                  <label for="title">Title</label>
                  <md-input name="title" id="presented-title" v-model="presented.title" placeholder="Session Title" required />
                </md-input-container>

                <div>
                  <div for="event">Event</div>
                  <!--<md-select name="event" id="presented-event" v-model="presented.event" required>
                    <md-option v-for="event in events"  :value="event.id" :key="event.id">{{ event.value }}</md-option>
                  </md-select>-->
                  <div>
                    <select name="event" id="presented-event" v-model="presented.event" required>
                        <option v-for="event in events"  :value="event.id" :key="event.id">{{ event.value }}</md-option>
                    </select>
                  </div>
                  <br />
                </div>

                <md-input-container>
                  <label for="dtstart">Date Start</label>
                  <md-input name="dtstart" type="date" id="presented-dtstart" v-model="presented.dtstart" required />
                </md-input-container>

                <md-input-container>
                  <label for="description">Description</label>
                  <md-textarea name="description" id="presented-description" v-model="presented.description" />
                </md-input-container>

                <md-input-container>
                  <label for="attendees">Attendees</label>
                  <md-input name="attendees" type="number" id="presented-attendees" v-model.number="presented.attendees" required />
                </md-input-container>

                <div>
                  <md-checkbox v-model="presented.conference">Conference</md-checkbox>
                  <md-checkbox v-model="presented.meetup">Meetup</md-checkbox>
                  <md-checkbox v-model="presented.hackathon">Hackthon</md-checkbox>
                  <md-checkbox v-model="presented.webinar">Webinar</md-checkbox>
                  <md-checkbox v-model="presented.sponsored">Sponsored</md-checkbox>
                </div>

                <md-input-container>
                  <label for="tags">Tags</label>
                  <md-textarea name="tags" id="presented-tags" v-model="presented.tags" />
                </md-input-container>

                <md-input-container>
                  <label for="comments">Comments</label>
                  <md-textarea name="comments" id="presented-comments" v-model="presented.comments" />
                </md-input-container>
          
                <div>
                  <md-button type="button" class="md-primary" :disabled="!presentedReady" v-on:click="submitForm(presented)">Submit</md-button>
                </div>

              </form>
            </div>
          </md-tab> <!-- presented -->

          <md-tab v-if="cookie" id="tab-blogged" md-label="Blogged" :md-active="selectedTab===4">
            <div>
              <h2>I published a blog <a v-if="blogged._id && blogged._rev" href="#" v-on:click="onDelete(blogged._id, blogged._rev)"><md-icon>delete</md-icon></a></h2>
              <form novalidate>

                <input type="hidden" name="collection" v-model="blogged.collection" value="blog" />
                <input type="hidden" name="_id" v-model="blogged._id" />
                <input type="hidden" name="_rev" v-model="blogged._rev" />

                <md-input-container>
                  <label for="title">Title</label>
                  <md-input name="title" id="blogged-title" v-model="blogged.title" required />
                </md-input-container>

                <md-input-container>
                  <label for="dtstart">Date</label>
                  <md-input name="dtstart" type="date" id="blogged-dtstart" v-model="blogged.dtstart" required />
                </md-input-container>

                <md-input-container>
                  <label for="url">URL</label>
                  <md-input name="url" type="url" id="blogged-url" v-model="blogged.url" required />
                </md-input-container>

                <md-input-container>
                  <label for="comments">Comments</label>
                  <md-textarea name="comments" id="blogged-comments" v-model="blogged.comments" />
                </md-input-container>
                
                <div>
                  <md-button type="button" class="md-primary" :disabled="!bloggedReady" v-on:click="submitForm(blogged)">Submit</md-button>
                </div>
                    
              </form>
            </div>
          </md-tab> <!-- blogged -->

          <md-tab v-if="cookie" id="tab-press" md-label="Press" :md-active="selectedTab===5">
            <div>
              <h2>I spoke to the press <a v-if="press._id && press._rev" href="#" v-on:click="onDelete(press._id, press._rev)"><md-icon>delete</md-icon></a></h2>
              <form novalidate>

                <input type="hidden" name="collection" v-model="press.collection" value="press" />
                <input type="hidden" name="_id" v-model="press._id" />
                <input type="hidden" name="_rev" v-model="press._rev" />

                <md-input-container>
                  <label for="title">Title</label>
                  <md-input name="title" id="press-title" v-model="press.title" required />
                </md-input-container>

                <md-input-container>
                  <label for="title">Outlet</label>
                  <md-input name="outlet" id="press-outlet" v-model="press.outlet" placeholder="e.g. New York Times" required />
                </md-input-container>

                <md-input-container>
                  <label for="dtstart">Date</label>
                  <md-input name="dtstart" type="date" id="press-dtstart" v-model="press.dtstart" required />
                </md-input-container>

                <md-input-container>
                  <label for="url">URL</label>
                  <md-input name="url" type="url" id="press-url" v-model="press.url" required />
                </md-input-container>

                <md-input-container>
                  <label for="tags">Tags</label>
                  <md-textarea name="tags" id="press-tags" v-model="press.tags" />
                </md-input-container>

                <md-input-container>
                  <label for="comments">Comments</label>
                  <md-textarea name="comments" id="press-comments" v-model="press.comments" />
                </md-input-container>

                <div>
                  <md-button type="button" class="md-primary" :disabled="!pressReady" v-on:click="submitForm(press)">Submit</md-button>
                </div>
              </form>
            </div>
          </md-tab> <!-- press -->

          <md-tab v-if="cookie" id="tab-expense" md-label="Expense" :md-active="selectedTab===6">
            <div>
              <h2>I spent some money <a v-if="expense._id && expense._rev" href="#" v-on:click="onDelete(expense._id, expense._rev)"><md-icon>delete</md-icon></a></h2>
              <form novalidate>

                <input type="hidden" name="collection" v-model="expense.collection" value="expense" />
                <input type="hidden" name="_id" v-model="expense._id" />
                <input type="hidden" name="_rev" v-model="expense._rev" />

                <md-input-container>
                  <label for="title">Title</label>
                  <md-input name="title" id="expense-title" v-model="expense.title" required />
                </md-input-container>
<!--
                <md-input-container>
                    <label for="event">Event</label>
                    <md-select name="event" id="expenseevent" v-model="expense.event" required>
                      <md-option value="" :key="0">--None--</md-option>
                      <md-option v-for="event in events"  :value="event.id" :key="event.id" >{{ event.value }}</md-option>
                    </md-select>
                  </md-input-container>
                -->

                
                <div>
                  <div for="event">Event</div>
                  <div>
                    <select name="event" id="expense-event" v-model="expense.event" required>
                        <md-option value="" :key="0">--None--</md-option>
                        <option v-for="event in events"  :value="event.id" :key="event.id">{{ event.value }}</md-option>
                    </select>
                  </div>
                  <br />
                </div>

                <md-input-container>
                  <label for="dtstart">Date</label>
                  <md-input name="dtstart" type="date" id="expense-dtstart" v-model="expense.dtstart" required />
                </md-input-container>

                <md-input-container>
                  <label for="comments">Comments</label>
                  <md-textarea name="comments" id="expense-comments" v-model="expense.comments" />
                </md-input-container>

                <md-input-container>
                    <label for="travel_expenses_currency">Travel expenses currency</label>
                    <md-select v-model="expense.travel_expenses_currency" name="travel_expenses_currency" id="travel_expenses_currency">
                      <md-option value="USD">USD</md-option>
                      <md-option value="EUR">EUR</md-option>
                      <md-option value="GBP">GBP</md-option>
                    </md-select>
                </md-input-container>

                <md-input-container>
                  <label for="travel_expenses">Travel Expenses</label>
                  <md-input name="travel_expenses" type="number" id="travel_expenses" v-model.number="expense.travel_expenses" placeholder="0.00"/>
                </md-input-container>

                <md-input-container>
                  <label for="non_travel_expenses_currency">Non-Travel Expenses currency</label>
                  <md-select v-model="expense.non_travel_expenses_currency" name="non_travel_expenses_currency" id="non_travel_expenses_currency">
                    <md-option value="USD">USD</md-option>
                    <md-option value="EUR">EUR</md-option>
                    <md-option value="GBP">GBP</md-option>
                  </md-select>
                </md-input-container>

                <md-input-container>
                  <label>Non-Travel Expenses</label>
                  <md-input type="number" v-model.number="expense.non_travel_expenses" placeholder="0.00"/>
                </md-input-container>

                <div>
                  <md-button type="button" class="md-primary" :disabled="!expenseReady" v-on:click="submitForm(expense)">Submit</md-button>
                </div>
              </form>
            </div>
          </md-tab> <!-- expense -->

          <md-tab v-if="cookie" id="tab-report" md-label="Report" :md-active="selectedTab===7">
            <div>
              <h2>Report</h2>
              <div id="reportchart"></div>
            </div>
          </md-tab> <!-- expense -->    

        </md-tabs>
     
      </div> <!-- .main-content -->
    </div> <!-- #app -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-material@0.8.1/dist/vue-material.js"></script>
    <script src="https://unpkg.com/leaflet@1.2.0/dist/leaflet.js"></script>
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="js/simpledatavis.js"></script>
    <script src="js/simpledatavis-stackedbarchart.js"></script>
    <script src="js/lib.js"></script>
    <script src="js/advocated.js"></script>
  </body>
</html>